.addArtworkMain,
.editArtworkMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 3rem;
  column-gap: 1rem;

  img {
    height: 25rem;
    box-shadow: 0 1.7px 2px -1px rgba(0, 0, 0, 0.2);
  }

  h1 {
    margin-bottom: 1rem;
  }

  form {
    display: grid;
    row-gap: 1.1rem;
    width: 100%;

    #inputTitle,
    #inputPrice,
    #inputImageUrl,
    #inputDescription {
      @include searchBar;
    }

    #inputTitle:focus,
    #inputPrice:focus,
    #inputImageUrl:focus,
    #inputDescription:focus {
      @include searchBarHover;
    }

    .label-top {
      display: flex;
      column-gap: 1rem;

      #inputTitle {
        width: 25rem !important;
      }

      #inputPrice {
        width: 10rem !important;
      }
    }

    .label-mid {
      display: flex;
      align-items: center;
      column-gap: 1rem;

      #inputImageUrl {
        width: 25rem;
      }

      .form-check-input:checked {
        background-color: $primary-color !important;
        border-color: $primary-color !important;
      }
    }

    #inputDescription {
      width: 25rem;
      height: 10rem;
      padding-top: 0.5rem;
    }

    .btn-primary {
      @include button;
      margin-top: 1.5rem;
      width: 30%;
    }

    .btn-primary:hover {
      @include buttonHover;
    }
  }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 991px) /*Tablet*/ {
  .addArtworkMain,
  .editArtworkMain {
    flex-direction: column;
    row-gap: 3rem;

    img {
      height: 24.3rem;
    }

    form {
      justify-content: center;
    }

    button {
      width: 25% !important;
    }
  }

  .editArtworkMain {
    img {
      height: 29.31rem;
    }
  }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) /*Mobile*/ {
  .addArtworkMain,
  .editArtworkMain {
    margin-top: 1.7rem;

    img {
      height: 14.6rem;
      box-shadow: unset;
    }

    h1 {
      text-align: center;
      margin-bottom: 2.5rem;
    }

    form {
      .label-top {
        #inputTitle {
          width: 13rem !important;
        }

        #inputPrice {
          width: 7rem !important;
        }
      }

      .label-mid {
        #inputImageUrl {
          width: 13rem;
        }
      }

      #inputDescription {
        width: 21rem;
      }

      button {
        width: 100% !important;
      }
    }
  }

  .editArtworkMain {
    img {
      height: 17.9rem;
    }
  }
}
