.cartMain {
  margin: auto;

  margin-top: 3rem;
  @include title;

  h1 {
    font-weight: 600;
  }

  .cart-top {
    margin-top: 3rem;
    padding-bottom: 0.9rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(100, 100, 100, 0.1);

    span {
      font-weight: 500;
    }

    .cart-top-left {
      width: 70%;
    }
    .cart-top-mid {
      width: 15%;
    }
    .cart-top-right {
      width: 15%;
      text-align: right;
    }
  }

  .cart-mid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid rgba(100, 100, 100, 0.1);

    .cart-mid-left {
      display: flex;
      column-gap: 6rem;
      align-items: center;
      width: 70%;
      padding-right: 3rem;

      h2 {
        font-weight: 500;
      }

      a {
        text-decoration: none;
        color: unset;
      }

      i {
        cursor: pointer;
      }

      img {
        height: 15rem;
      }
    }
    .cart-mid-center {
      display: flex;

      align-items: center;
      width: 15%;

      input {
        width: 15%;
        text-align: center;
      }
    }
    .cart-mid-right {
      display: flex;
      justify-content: end;
      width: 15%;
      align-items: center;

      span {
        font-weight: 600;
      }
    }
  }

  .cart-bottom {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
    align-items: flex-end;

    .total-Price {
      font-weight: 700;
      font-size: 1.15rem;
      padding-left: 0.4rem;
    }

    button {
      @include button;
      width: 15%;
    }

    button:hover {
      @include buttonHover;
    }
  }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 991px) /*Tablet*/ {
  .cart-top-left {
    width: 70% !important;
  }
  .cart-top-mid {
    align-items: flex-end !important;
    width: 20% !important;
  }
  .cart-top-right {
    width: 10% !important;
    text-align: right;
  }

  .cart-mid {
    .cart-mid-left {
      column-gap: 3rem !important;

      img {
        height: 17rem !important;
      }
    }

    .cart-mid-center {
      input {
        width: 20% !important;
      }
    }
  }

  .cart-bottom {
    button {
      @include button;
      width: 22% !important;
    }
  }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) /*Mobile*/ {
  .cart-top {
    margin-top: 2rem !important;
    .cart-top-left {
      width: 65% !important;
    }
    .cart-top-mid {
      text-align: left;
      width: 25% !important;
    }
    .cart-top-right {
      width: 10% !important;
      text-align: right;
    }
  }

  .cartMain {
    margin-top: 1.5rem !important;
    width: unset;

    .cart-mid-left {
      column-gap: 0.7rem !important;

      i {
        font-size: 0.5rem;
      }

      h2 {
        font-size: 1rem;
      }

      img {
        height: 7rem !important;
      }
    }

    .cart-mid-center {
      input {
        width: 40% !important;
        text-align: center;
      }
    }

    .cart-bottom {
      button {
        @include button;
        width: 100% !important;
      }
    }
  }
}
