.cartMain {
  margin: auto;
  width: 95%;
  margin-top: 3rem;

  .cart-top {
    margin-top: 2.2rem;
    padding-bottom: 0.9rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(100, 100, 100, 0.1);

    .cart-top-left {
      width: 70%;
    }
    .cart-top-mid {
      width: 15%;
    }
    .cart-top-right {
      width: 15%;
      text-align: right;
    }
  }

  .cart-mid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid rgba(100, 100, 100, 0.1);

    .cart-mid-left {
      display: flex;
      column-gap: 6rem;
      align-items: center;
      width: 70%;
      padding-right: 3rem;

      img {
        height: 15rem;
      }
    }
    .cart-mid-center {
      display: flex;
      align-items: center;
      width: 15%;

      input {
        width: 15%;
        text-align: center;
      }
    }
    .cart-mid-right {
      display: flex;
      justify-content: end;
      width: 15%;
      align-items: center;
    }
  }

  .cart-bottom {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
    align-items: flex-end;

    button {
      @include button;
      width: 15%;
    }

    button:hover {
      @include buttonHover;
    }
  }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 991px) /*Tablet*/ {
  .cart-mid-center {
    input {
      width: 20% !important;
      text-align: center;
    }
  }

  .cart-bottom {
    button {
      @include button;
      width: 22% !important;
    }
  }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) /*Mobile*/ {
  .cart-mid-center {
    input {
      width: 40% !important;
      text-align: center;
    }
  }

  .cart-bottom {
    button {
      @include button;
      width: 100% !important;
    }
  }
}
