* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: $secondary-color;
  font-family: $primary-font;
}

/* ----------------------------------------------------- Header -------------------------------------------- */
nav {
  padding: 0 0.5rem 0 0.5rem;
  z-index: 10;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);

  .navbar-collapse {
    flex-grow: unset;
  }

  i {
    font-size: 0.8rem;
    margin-left: 0.1rem;
  }
}

.herobanner {
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  background-color: $senary-color;

  .heroBanner-nav {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heroBanner-nav-group {
      width: 65%;
      button {
        width: 100%;
        height: 3rem;
        border-radius: 3px;
        background-color: transparent;
        font-size: 1.2rem;
      }
    }
  }

  .heroBanner-Image {
    width: 44.5%;
    img {
      width: 100%;
    }
  }
}
/* ----------------------------------------------------- Main ---------------------------------------------- */
main {
  height: 100%;
  width: 95%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 10rem;

  .featured-products {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .featured-products-artwork {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1rem;
      row-gap: 1rem;

      .featured-products-artwork-single {
        display: flex;
        flex-direction: column;
        width: 24.09%;
        img {
          cursor: pointer;
        }
      }
    }
  }
}
/* ----------------------------------------------------- Footer --------------------------------------------- */
footer {
  border-top: solid whitesmoke 1.2px;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.5rem;

  .social-icons {
    display: flex;
    column-gap: 1rem;
    i {
      font-size: 3rem;
      cursor: pointer;
    }
    .fa-twitter-square:hover {
      color: #00acee;
    }
    .fa-facebook-square:hover {
      color: #3b5998;
    }
    .fa-pinterest-square:hover {
      color: #c8232c;
    }
    .fa-instagram-square:hover {
      color: #7232bd;
    }
  }

  .footer-nav {
    display: flex;
    column-gap: 0.6rem;
    text-transform: uppercase;
    li {
      cursor: pointer;
    }
  }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 991px) /*Tablet*/ {
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) /*Mobile*/ {
  nav {
    padding: 0 0rem 0 0rem;
  }

  .herobanner {
    flex-direction: column-reverse;
    row-gap: 1rem;
  }
  .heroBanner-nav {
    width: 100% !important;

    .heroBanner-nav-group {
      width: 90% !important;
    }
  }

  .heroBanner-Image {
    width: 100% !important;
  }
}

.featured-products-artwork {
  row-gap: 3rem !important;

  .featured-products-artwork-single {
    flex-direction: column;
    width: 100%;
  }
}
