* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: $secondary-color;
  height: 100vh;
}

main {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 4rem;
  background-color: red;
}

footer {
  background-color: black;
  height: 4rem;
}
