* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: $secondary-color;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 4rem;
  background-color: transparent;
  border: solid red 1px;

  .logo {
    width: fit-content;
    cursor: pointer;
    border: solid red 1px;
  }

  .hamburger {
    background-color: transparent;
    font-size: 1.8rem;
    color: black;
    border: 0;
    cursor: pointer;
    display: none;
  }

  .menu {
    width: fit-content;
  }

  a {
    color: black !important;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
  }

  a:hover {
    border-radius: 3px;
    transition: 0.2s;
  }
}

main {
  height: 100%;
  width: 90%;
  margin: auto;
  border: solid red 1px;
}

footer {
  background-color: black;
  height: 4rem;
}
