main {
  .loginMain {
    margin-top: 2rem;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;

      .row {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .form {
        row-gap: 1rem !important;
      }

      .btn-primary {
        @include button;
        border-color: unset !important;
      }

      .btn-primary:hover {
        @include buttonHover;
      }
    }
  }
}
