* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: $secondary-color;
  font-family: $primary-font;

  .alert {
    margin-bottom: unset;
    padding: unset;

    .warning {
      padding: 1rem;
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
  }
}

/* ----------------------------------------------------- Header -------------------------------------------- */
nav {
  padding: 0 1rem 0 1rem;
  z-index: 10;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);

  .navbar-brand {
    img {
      width: 14rem;
    }
  }

  .navbar-collapse {
    flex-grow: unset;
  }

  .navbar-toggler-icon {
    background-image: none !important;
    display: unset;
    color: #000;
    i {
      font-size: 1.5rem;
    }
  }

  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: unset;
  }

  i {
    font-size: 0.8rem;
    margin-left: 0.1rem;
  }
}

.herobanner {
  margin-bottom: 5rem;
  display: flex;
  width: 100%;
  background-color: $senary-color;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);

  .heroBanner-nav {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heroBanner-nav-group {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      width: 65%;
      button {
        @include button;
        width: 100%;
        font-size: 1.25rem;
      }

      button:hover {
        @include buttonHover;
      }
    }
  }

  .heroBanner-Image {
    width: 44.5%;
    img {
      width: 100%;
    }
  }
}
/* ----------------------------------------------------- Main ---------------------------------------------- */
main {
  height: 100%;
  width: 95%;
  margin: auto;
  margin-bottom: 10rem;

  .featured-products {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .featured-products-artwork {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1rem;
      row-gap: 1rem;

      span {
        @include price;
      }

      .featured-products-artwork-single {
        display: flex;
        flex-direction: column;
        width: 23.99%;

        img {
          cursor: pointer;
          width: 100%;
        }
      }
    }
  }
}
/* ----------------------------------------------------- Footer --------------------------------------------- */
footer {
  border-top: solid whitesmoke 1.2px;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.5rem;

  .social-icons {
    display: flex;
    column-gap: 1rem;
    i {
      font-size: 2.7rem;
      cursor: pointer;
    }
    .fa-twitter-square:hover {
      color: #00acee;
    }
    .fa-facebook-square:hover {
      color: #3b5998;
    }
    .fa-pinterest-square:hover {
      color: #c8232c;
    }
    .fa-instagram-square:hover {
      color: #fb3958;
    }
  }

  .footer-nav {
    display: flex;
    column-gap: 0.6rem;
    text-transform: uppercase;
    li {
      cursor: pointer;
    }
  }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 991px) /*Tablet*/ {
  nav {
    padding: 0.5rem 0rem 0.5rem 0.5rem !important;
  }

  .heroBanner-nav-group {
    row-gap: 0.25rem !important;
  }

  main {
    margin-bottom: 5rem;

    .featured-products-artwork-single {
      width: 48.9% !important;
    }
  }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) /*Mobile*/ {
  nav {
    padding: 0.45rem 0rem 0.45rem 0rem !important;

    .navbar-brand {
      img {
        width: 13rem;
      }
    }
  }

  .herobanner {
    flex-direction: column-reverse;
    row-gap: 1rem;
    box-shadow: none;

    .heroBanner-nav {
      width: 100% !important;

      .heroBanner-nav-group {
        width: 90% !important;
        row-gap: 0.35rem;

        button {
          margin-bottom: 1rem;
        }
      }
    }

    .heroBanner-Image {
      width: 100% !important;
    }
  }

  main {
    width: 90%;
    margin-bottom: 5rem;
    .featured-products-artwork {
      row-gap: 3rem !important;
      flex-direction: column;

      .featured-products-artwork-single {
        flex-direction: column;
        width: 100% !important;
      }
    }
  }
}
