@mixin price {
  font-size: 1rem;
  font-weight: 400 !important;
  color: $tertiary-color !important;
}

@mixin button {
  width: 40%;
  height: 4rem;
  font-weight: 600;
  background-color: transparent;
  color: $primary-color;
  border-width: 2.5px;
  border-style: solid;
  border-radius: 3px;
  font-family: $secondary-font !important;
  letter-spacing: 1.5px !important;
}

@mixin buttonHover {
  transition: 0.15s;
  background-color: $primary-color;
  color: white;
}

@mixin title {
  font-size: 1rem;
  font-weight: 500;
}
