main {
  .productsDetailsMain {
    border: solid red 1px;
    margin-top: 2.5rem;
    display: flex;
    column-gap: 10rem;

    .productsDetailsMain-left {
      border: solid green 1px;
    }

    .productsDetailsMain-right {
      border: solid purple 1px;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      p {
      }
      button {
        width: 40%;
      }
    }
  }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 991px) /*Tablet*/ {
  .productsDetailsMain {
    flex-direction: column;
  }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) /*Mobile*/ {
  .productsDetailsMain {
    border: none !important;
    row-gap: 1rem;

    .productsDetailsMain-left {
      img {
        width: 100%;
      }
    }

    .productsDetailsMain-right {
      row-gap: 0.5rem;
    }
  }
}
