main {
  .productsMain {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    .search {
      #bar {
        width: 30%;
        height: 2.5rem;
        background-color: whitesmoke;
        border: none;
        outline: none;
        font-size: 0.9rem;
        padding: 0 12px 0 12px;
        font-weight: 500;
        border-radius: 3px 0 0 3px;
        box-shadow: 0 2px 2px -2.3px rgba(0, 0, 0, 0.4);
      }
    }

    .products-artworks {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1rem;
      row-gap: 1rem;

      .products-artwork-single {
        display: flex;
        flex-direction: column;
        width: 32.44%;

        img {
          width: 100%;
        }
      }
    }
  }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 991px) /*Tablet*/ {
  .products-artwork-single {
    width: 48.9% !important;
  }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) /*Mobile*/ {
  main {
    .productsMain {
      row-gap: 1.5rem;
      #bar {
        width: 100% !important;
        height: 2.5rem !important;
      }

      .products-artworks {
        flex-direction: column;
        row-gap: 3rem !important;

        .products-artwork-single {
          width: 100% !important;
        }
      }
    }
  }
}
