main {
  .productsDetailsMain {
    border: solid black 1px;
    margin-top: 2.5rem;
    display: flex;
    column-gap: 10rem;

    .productsDetailsMain-left {
    }

    .productsDetailsMain-right {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      span {
        @include price;
      }

      p {
      }

      button {
        @include button;
      }

      button:hover {
        @include buttonHover;
      }
    }
  }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 991px) /*Tablet*/ {
  .productsDetailsMain {
    column-gap: 1rem !important;
    .productsDetailsMain-left {
      img {
        height: 27rem;
      }
    }
  }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) /*Mobile*/ {
  .productsDetailsMain {
    flex-direction: column;
    border: none !important;
    row-gap: 1rem;

    .productsDetailsMain-left {
      img {
        width: 100%;
      }
    }

    .productsDetailsMain-right {
      row-gap: 0.5rem;

      button {
        width: 100% !important;
      }
    }
  }
}
