main {
  .productsDetailsMain {
    margin-top: 2.5rem;
    display: flex;
    column-gap: 6rem;

    .productsDetailsMain-right {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      span {
        @include price;
      }

      p {
        font-size: 0.9rem;
        letter-spacing: 0.3px;
        line-height: 1.82rem;
        line-break: auto;
        max-width: 690px;
      }

      button {
        @include button;
        width: 12rem;
      }

      button:hover {
        @include buttonHover;
      }
    }
  }
}
.added {
  transition: 0.15s;
  background-color: $primary-color !important;
  color: white !important;
}
/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 991px) /*Tablet*/ {
  .productsDetailsMain {
    column-gap: 2rem !important;
    .productsDetailsMain-left {
      img {
        height: 30rem;
      }
    }
  }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) /*Mobile*/ {
  .productsDetailsMain {
    margin-top: 1.5rem !important;
    flex-direction: column;
    border: none !important;
    row-gap: 1rem;

    .productsDetailsMain-left {
      img {
        width: 100%;
        height: unset;
      }
    }

    .productsDetailsMain-right {
      row-gap: 0.5rem;

      button {
        width: 100% !important;
      }
    }
  }
}
